.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 156px);
}
.imgSize {
  display: grid;
  grid-template-columns: 100px auto;
  height: 100px;
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .groupsize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    .size {
      font-weight: bold;
      font-size: 24px;
    }
    .marker {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
.cardconfrim {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: rgb(234, 51, 35);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  .textconfirm {
    font-weight: bold;
    font-size: 22px;
  }
}

.groupcount {
  display: grid;
  grid-template-columns: auto auto;
  height: 35px;
  gap: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
}
.incrementButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(161, 206, 98);
}
.decrementButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgb(230, 51, 35);
}
.bundleRFID {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  background-color: #f5c242;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
  height: 35px;
  border-radius: 4px;
}